@model Komis.Models.sprzedaz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sprzedaz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_sprzedazy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_sprzedazy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
